<tr>
  <th scope="row">{{dataValues.id}}</th>
  <td>{{dataValues.subscriptionName}}</td>
  <td>{{dataValues.amount}}</td>
  <td class="user" data-user="{{dataValues.user}}" data-userid="{{dataValues.id}}"><span
      class="current-user">{{dataValues.user}}</span>
    <input type='text' class="user-edit" style='display: none;'></td>
  <td><button class="update-status btn btn-outline-success" data-userid="{{dataValues.id}}"
      data-newstatus="{{notifications}}">{{#if notifications}}Notifications ON{{else}}Notifications ON{{/if}}</button></td>
  <td><button class="delete btn btn-outline-danger" data-userid="{{dataValues.id}}">Delete</button></td>
</tr>